div[style=""] {
	position: relative;
	display: inline-block;

}

.notification-on{
	position: absolute;
	top: -5px;
	left: -5px;
	text-align: center;
	color: white;
	border-radius: 10px;
	background-color: red;
	width: 20px;
	font-weight: bold;


}

.box{
	width: 100px;
	height: 100px;
	background-color: lightBlue;

}
